/* .header img{
    height: auto;
    width: auto;
    border: solid rgb(253, 253, 253) 2px;
    border-radius: 25px;
    display: inline;
} */

.tableData h2 {
  text-align: center;
  color: #5a5a5a;
  /* background: -webkit-linear-gradient(#000000, #ED2024);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  margin-bottom: 80px;
  font-style: italic;
  letter-spacing: 5px;
}

b {
  color: black;
}

.tableData .container {
  background: rgba(235, 235, 235, 0.4);
  padding: 30px;
  border-radius: 20px;
}

.tableData .function {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.tableData .function .btn-search {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  border-radius: 5px;
  border: solid rgb(238, 238, 238) 2px;
}

.tableData .function .search {
  width: 200px;
  height: 35px;
  padding-left: 12px;
  border-radius: 5px;
  border: solid rgb(238, 238, 238) 2px;
  font-size: 16px;
  outline: none;
}

/* --------------------------------------------- */
/* ------------------- Table ------------------- */
/* --------------------------------------------- */

.wrap{
    display: block;
    justify-content: center;
    border: 20px;
}

table{
    width: 100%;
}

.cate{
    border-right: 1px solid rgb(221, 221, 221);
    width: 100px;
}

table tbody{
    background-color: rgb(238, 238, 238);
}

table tr:hover td{
  background-color: rgb(218, 218, 218);
}

table td,th{
    font-size: 18px;
    vertical-align: middle;
}

.part-table {
    text-align: center;
  }

.id-row{
    /* background-color: #ed2024; */
    width: 100px;
    border-right: 1px solid rgb(221, 221, 221);
    border-top-left-radius: 12px;
    vertical-align: middle;
}

table .data-parameter{
    border-top-right-radius: 12px;
}

table tbody tr.device{
    height: 50px;
    cursor: pointer;
    pointer-events: all;
}

/* ----------------- TABLE SCROLL ---------------- */

.fixHeader {
  overflow-x: auto;
}

.fixHeader th {
  position: sticky;
  top: 0;
  background-color: #b4bab4;
}

.fixHeader table {
  border-collapse: collapse;
  width: 100%;
}

.fixHeader th,
.fixHeader td {
  padding: 8px 16px;
}

.table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: scroll;
  height: auto;
  min-height: 300px;
  max-height: 600px;
}

.table-scroll table {
  width: 100%;
  min-width: 1600px;
  margin: auto;
  /* border-collapse: separate; */
}

.table-wrap {
  position: relative;
}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  /* border: 1px solid #000; */
  background: #fff;
  vertical-align: top;
  text-align: center;
  vertical-align: middle;
}

.table-scroll thead {
  background: #333;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}



.scroltable-wrapper {
    position: relative;
  }
  .scroltable-container {
    overflow: auto;
  }
  .scroltable-nav {
    display: none;
    position: absolute;
    width: 60px;
    height: 100%;
    cursor: pointer;
  }
  .scroltable-nav.scroltable-nav-left {
    left: 0;
    background: url(images/arrow-left.png) no-repeat 10px center,
      -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      -moz-linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      -ms-linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      -o-linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  }
  .scroltable-nav.scroltable-nav-right {
    right: 0;
    background: url(images/arrow-right.png) no-repeat right 10px center,
      -webkit-linear-gradient(0, rgba(255, 255, 255, 0), #fff);
    background: url(/images/arrow-right.png) no-repeat right 10px center,
      -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-right.png) no-repeat right 10px center,
      -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    background: url(/images/arrow-right.png) no-repeat right 10px center,
      -o-linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-right.png) no-repeat right 10px center,
      linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }

  .tableData .tableAnalys {
    overflow: scroll;
    width: 100%;
  }

.tableData tr > td {
  text-align: center;
}